body {
  font-family: Arial, sans-serif;
  margin: 20px;
  
}
h1 {
  margin-bottom: 0.5em;
}
label {
  display: inline-block;
  width: 80px;
}
input, select {
  margin-bottom: 10px;
}
#transactionList {
  margin-top: 1em;
  list-style: none;
  padding: 0;
}
#transactionList li {
  margin: 5px 0;
}
.income {
  color: green;
 
}
.expense {
  color: red;
  
}

.rubrik{
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:40px;
  margin-top:100px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;
  font-size: 16px;
  gap:15px;
}

.listContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  gap:20px;
}

.saldo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ul{
  margin:10px;
}